@use '../components/configs.scss' as CONFIG;
@use '../components/tables/table.scss';
@use '../components/index.scss';

.styled-table {
    @include CONFIG.shadow_border(5px, 2px);
}

.profile {
    $circle_radius: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        width: $circle_radius;
        height: $circle_radius;
        border-radius: 50%;
    }

    div {
        margin-left: 10px;
    }
}
