@use '../components/configs.scss' as CONFIG;
@use '../components/index.scss';

.styled-table {
    padding: 0px;
    width: 100%;
    overflow: hidden;
    border: 0;

    table {
        margin: 0;
        width: 100%;
        border-collapse: collapse;
        font-size: 0.9em;

        thead {
            tr {
                background-color: CONFIG.$CERULEAN;
                color: CONFIG.$FOREGROUND_WHITE;

                th {
                    position: sticky;
                    background-color: CONFIG.$CERULEAN;
                    top: 0;
                } 
            }           
        }

        tbody {
            tr {
                border-bottom: 1px solid CONFIG.$FOREGROUND_WHITE;
                background-color: CONFIG.$FOREGROUND_WHITE;
            }

            tr:nth-of-type(even) {
                background-color: #EEEEEE;
            }

            .active-row {
                font-weight: bold;
                color: #009879;
            }
        }

        th, td {
            padding: 12px 15px;
            text-align: center;
        }
    }
}

.profile {
    $circle_radius: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        width: $circle_radius;
        height: $circle_radius;
        border-radius: 50%;
    }

    div {
        margin-left: 10px;
    }
}
