.styled-table {
  padding: 0px !important;
  width: 100%;
  overflow: hidden;
  border: 0;
}
.styled-table table {
  margin: 0px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.9em;
}
.styled-table table thead tr {
  background-color: #4a8fdd;
  color: #F7F7F7;
}
.styled-table table thead tr th {
  background-color: #4a8fdd;
  top: 0;
}
.styled-table table tbody tr {
  background-color: #F7F7F7;
}
.styled-table table tbody tr:nth-of-type(even) {
  background-color: #F1F1F1;
}
.styled-table table tbody .active-row {
  font-weight: bold;
  color: #009879;
}
.styled-table table th, .styled-table table td {
  padding: 12px 15px;
  text-align: center;
  overflow: hidden;
}

/**
 *  <div class="space-left" id="menu-btn">
 *      <span></span>
 *      <span></span>
 *      <span></span>
 *      <span></span>
 *  </div>
**/
#menu-btn {
  width: 40px;
  height: 25px;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
#menu-btn span {
  display: block;
  position: absolute;
  box-sizing: border-box;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background: #F1F1F1;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
#menu-btn span:nth-child(1) {
  top: 0px;
}
#menu-btn span:nth-child(2), #menu-btn span:nth-child(3) {
  top: 10px;
}
#menu-btn span:nth-child(4) {
  top: 20px;
}
#menu-btn.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}
#menu-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu-btn.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#sidebar {
  width: 0px;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 0;
  color: #1F2535;
  background-color: #F1F1F1;
  transition: width 500ms;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #D5D5D5;
}

#sidebar-content-container {
  visibility: hidden;
  transition-delay: 0ms;
  width: 100%;
  height: 100%;
}

nav .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 20px 0px 20px;
  padding: 10px 0px;
  font-size: 19px;
  color: #606060;
  box-sizing: border-box;
  visibility: inherit;
  border-bottom: solid #D5D5D5 1px;
  cursor: pointer;
}
nav .nav-item .pointer {
  visibility: hidden;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #4a8fdd;
}

#content-container {
  margin-left: 0px;
  transition: margin 500ms;
}

/**
 *  <div class="button-magic">
 *      Title
 *      <span></span>
 *      <span></span>
 *      <span></span>
 *      <span></span>
 *  </div>
**/
.button-magic {
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  filter: hue-rotate(0deg);
  transition: all 0.1s linear;
  border: 1px solid transparent;
}
.button-magic:hover {
  color: #656565;
}
.button-magic span {
  position: absolute;
  display: block;
}
.button-magic span:nth-child(1) {
  filter: hue-rotate(0deg);
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.button-magic span:nth-child(2) {
  filter: hue-rotate(60deg);
  width: 3px;
  height: 100%;
  top: -100%;
  right: 0;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.button-magic span:nth-child(3) {
  filter: hue-rotate(0deg);
  width: 100%;
  height: 3px;
  bottom: 0;
  right: -100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.button-magic span:nth-child(4) {
  filter: hue-rotate(60deg);
  width: 3px;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/**
 *  <input type="submit" class="button-gradient" value="title">
 *  or
 *  <button class="button-gradient"></button>
**/
.button-gradient {
  margin: 10px;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: background-position 0.5s, width 0.2s, height 0.2s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #174ea6 0%, #2187e6 50%, #174ea6 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-gradient:hover {
  background-position: right center;
  text-decoration: none;
}
.button-gradient:active {
  transform: scale(0.98);
}

* {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: #E8E9EB;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.center {
  justify-content: center;
  align-items: center;
}

.width-full {
  width: 100%;
}

.stretch {
  align-items: stretch;
}

.align-self-2start {
  align-self: flex-start;
}

.center-text {
  text-align: center;
}

br {
  margin: 5px 0;
}

.space-left {
  margin-left: 10px;
}

.space-right {
  margin-right: 10px;
}

.space-top {
  margin-top: 15px;
}

.margin-sides {
  margin: 0 20px;
}

.card {
  padding: 15px;
  border-radius: 11px;
  border: inset solid rgba(0, 0, 0, 0.2) 1px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
  border: 0px;
  background-color: #F7F7F7;
  box-sizing: border-box;
  transition: box-shadow 300ms ease-out;
}
.card:hover {
  border: inset solid rgba(0, 0, 0, 0.2) 1px;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.15);
}

header {
  height: 70px;
  background-color: #4a8fdd;
  color: #F7F7F7;
  position: sticky;
  top: 0;
  cursor: default;
}
header .header-img {
  max-height: 50px;
  margin: 5px;
  filter: invert(95%);
}
header #header-title {
  margin-left: 40px;
  text-align: center;
  color: #F7F7F7;
  transition: color 300ms ease-out;
}
header #header-title:hover {
  color: #F9CF00;
}

main {
  max-width: 1720px;
  margin: auto;
}

.styled-table {
  border: inset solid rgba(0, 0, 0, 0.2) 1px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.profile div {
  margin-left: 10px;
}

/*# sourceMappingURL=home.css.map */
