// begin dependencies

@use 'configs.scss' as CONFIG;
@use 'sidebar/sidebar-menu.scss';
@use 'buttons/buttons.scss';

// end dependencies
// ********************************************************************************
// begin global

* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: CONFIG.$BAKCGROUND2;
}

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.center {
    justify-content: center;
    align-items: center;
}

.width-full { width: 100%; }
.stretch { align-items: stretch; }
.align-self-2start { align-self: flex-start; }
.center-text { text-align: center; }

br { margin: 5px 0; }
.space-left { margin-left: 10px; }
.space-right { margin-right: 10px; }
.space-top { margin-top: 15px; }
.margin-sides { margin: 0 20px; }

.card {
    padding: 15px;
    border-radius: 11px;
    @include CONFIG.shadow_border(6px, 2px);
    border: 0px;
    background-color: CONFIG.$FOREGROUND_WHITE;
    box-sizing: border-box;
    transition: box-shadow 300ms ease-out;

    &:hover {
        @include CONFIG.shadow_border(8px, 6px);
    }
}

// end global
// ********************************************************************************

header {
    height: 70px;
    background-color: CONFIG.$CERULEAN;
    color: CONFIG.$FOREGROUND_WHITE;
    position: sticky;
    top: 0;
    cursor: default;
    
    // ****************************************
    .header-img {
        max-height: 50px;
        margin: 5px;
        filter: invert(95%);
    }

    #header-title {
        margin-left: 40px;
        text-align: center;
        color: CONFIG.$FOREGROUND_WHITE;
        transition: color 300ms ease-out;
        
        &:hover {
            color: #F9CF00;
        }
    }
    // ****************************************
}

main {
    max-width: 1720px;
    margin: auto;
}
