// ********************************************************************************
// begin color palette:

$CERULEAN: #4a8fdd;
$MELROSE: #D2BDFF;
$LIGHT_TANGERINE: #F9CF00;
$TANGERINE: #F19F4D;

$FOREGROUND_DARK: #1F2535; 
$FOREGROUND_WHITE: #F7F7F7;
$BAKCGROUND1: #F1F1F1;
$BAKCGROUND2: #E8E9EB;

$SOLID_BORDER: #D5D5D5;
$GRAY: #858585;
$DARK_GRAY: #606060;

// end color palette
// ********************************************************************************
// begin mixins

@mixin shadow_border($blur_radius, $shadow_radius) {
    border: inset solid rgba(0, 0, 0, 0.2) 1px;
    box-shadow: 0px 0px $blur_radius $shadow_radius rgba(0, 0, 0, 0.15);
}

// end mixins
// ********************************************************************************
