@use 'styles/configs.scss' as config;
@use 'styles/index.scss';

header {
    height: 80px;
    background-color: config.$CERULEAN;
    color: config.$FOREGROUND_WHITE;
    position: sticky;
    top: 0;
    cursor: default;
    
    // ****************************************
    #logo-img {
        max-height: 50px;
        margin: 5px;
        filter: invert(95%);
    }
    
    #search-img {
        max-height: 50px;
        margin: 5px;
        filter: invert(95%);
    }
    // ****************************************
}

main {
    max-width: 1720px;
    margin: auto;
}

// ********************************************************************************
// begin project-wide styles

.styled-table {
    padding: 0px;
    width: 100%;
    overflow: scroll;
    height: 300px;
    border: 0;

    table {
        margin: 0;
        width: 100%;
        border-collapse: collapse;
        font-size: 0.9em;

        thead {
            tr {
                background-color: #1177aa;
                color: config.$FOREGROUND_WHITE;

                th {
                    position: sticky;
                    background-color: #1177aa;
                    top: 0;
                } 
            }           
        }

        tbody {
            tr {
                border-bottom: 1px solid config.$FOREGROUND_WHITE;
            }

            tr:nth-of-type(even) {
                background-color: #EDEDED;
            }

            .active-row {
                font-weight: bold;
                color: #009879;
            }
        }

        th, td {
            padding: 12px 15px;
            text-align: center;
        }

        // tr th:nth-of-type(1), td:nth-of-type(1) {
        //     text-align: left;
        //     padding-left: 30px;
        // }
    }
}

.profile {
    $circle_radius: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        width: $circle_radius;
        height: $circle_radius;
        border-radius: 50%;
    }

    div {
        margin-left: 10px;
    }
}
