@use '../components/configs.scss' as CONFIG;
@use '../components/message/message.scss';
@use '../components/tables/table.scss';
@use '../components/index.scss';

.user-data {
    color: CONFIG.$GRAY;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .username {
        margin-top: 20px;
        cursor: default;
        color: royalblue;
        text-decoration: none;
    }

    table {
        margin: 0px;
        width: 60%;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 0.9em;

        tbody {
            tr {
                background-color: CONFIG.$FOREGROUND_WHITE;
                border-bottom: 1px solid CONFIG.$SOLID_BORDER;

                td:nth-of-type(1) {
                    width: 30%;
                }
            }

            tr:last-of-type {
                border-bottom: 0;
            }

            .active-row {
                font-weight: bold;
                color: #009879;
            }
        }

        td {
            padding: 12px 15px;
            text-align: left;
            overflow: hidden;
        }
    }
}

.profile-img {
    $circle_radius: 120px;

    width: $circle_radius;
    height: $circle_radius;
    border-radius: 50%;
}
