@use '../components/configs.scss' as CONFIG;
@use '../components/message/message.scss';
@use '../components/tables/table.scss';
@use '../components/index.scss';

.styled-table table {
    th:nth-of-type(1), tr td:nth-of-type(1) {
        width: 75px;
    }
    th:nth-of-type(2), tr td:nth-of-type(2) {
        width: 135px;
        text-align: left;
    }
    th:nth-of-type(3), tr td:nth-of-type(3) {
        width: 145px;
        text-align: left
    }
    th:nth-of-type(4), tr td:nth-of-type(4) {
        width: 170px;
        text-align: left
    }
    th:nth-of-type(5), tr td:nth-of-type(5) {
        width: 130px;
    }
    th:nth-of-type(6), tr td:nth-of-type(6) {
        width: 130px;
    }
    th:nth-of-type(7), tr td:nth-of-type(7) {
        width: 165px;
        padding-right: 30px;

        #dateSort {
            width: 12px;
            height:12px;
            margin-right: 5px;
            filter: invert(0.95);
            cursor: pointer;
        }

        div div {
            margin-right: 15px;
        }
    }

    img {
        $image-width: 25px;
        width: $image-width;
        height: $image-width;
        border-radius: 50%;
    }
}
