@use '../components/configs.scss' as CONFIG;
@use '../components/message/message.scss';
@use '../components/tables/table.scss';
@use '../components/index.scss';

table {
    th, td {
        box-sizing: border-box;
    }

    // th:nth-of-type(1) {
    //     padding-left: 50px;
    // }

    th:nth-of-type(1), tr td:nth-of-type(1) {
        width: 21%;
        // padding-left: 25px;
    }

    th:nth-of-type(4), tr td:nth-of-type(4),
    th:nth-of-type(5), tr td:nth-of-type(5) {
        width: 17%;
    }
}

.profile {
    $circle_radius: 25px;

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;

    img {
        width: $circle_radius;
        height: $circle_radius;
        border-radius: 50%;
    }

    a {
        margin-left: 10px;
        color: royalblue;
        text-decoration: none;
    }
}
